#Binaries for program and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test Binary
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Dependency directory
vendor/

go.mod
go.sum